---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Cashu is E-Cash for Bitcoin</h1>

      <p>
        Cashu is a free and open-source Chaumian ecash system built for Bitcoin.
        Cashu offers near-perfect privacy for users of custodial Bitcoin
        applications. Nobody needs to know who you are, how much funds you have,
        and who you transact with.
      </p>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-2xl font-bold sm:my-8 sm:text-2xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
</style>
